@import "../../Assets/_vars";

.wrapperttoostyles {
  background: linear-gradient(45deg, #200122, #6f0000);
  position: absolute;
  width: 100%;
  h1 {
    text-align: center;
    margin-top: 15px;
    color: $color;
    font-family: $font-family;
    font-size: $header-size;
    text-shadow: 5px 5px 10px black;
  }

  .styleslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .test {
      background-color: rgba(0, 0, 0, 0.5);
      width: 25%;
      box-sizing: border-box;
      border: 3px solid black;
      margin: 15px;
      padding: 10px;
      .button {
        display: block;
        margin: 0 auto;
        width: 200px;
        text-decoration: none;
        color: white;
        text-align: center;
        border: 3px solid black;
        border-radius: 20px;
        padding: 10px 0 10px 0;
        background: linear-gradient(90deg, #34e89e, #0f3443);
        font-family: $font-family;
        letter-spacing: 1px;
        text-shadow: 3px 3px 7px black;
      }
      li {
        list-style-type: none;
      }
      .stylesimg {
        display: block;
        margin: 0 auto;
        height: 300px;
        width: 250px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }
      p {
        text-align: center;
        color: $color;
        text-shadow: 5px 5px 10px black;
        font-family: $font-family;
        letter-spacing: 1px;
        height: 90px;
      }
    }
  }
}
